In [1]:
# 6期前のやつがなければ「なし」の表示と０を入れる例外処理を入れる」
import pandas as pd
import glob
from dotenv import load_dotenv
import os
load_dotenv()
USER_PASS= os.getenv('USER_PASS')
# それぞれの環境ごとに.envのUSER_PASS変数の値を変えてください

comments_df=pd.read_csv(str(USER_PASS)+"RedditAnalize/BERT_PRE/AllDate.csv",encoding="ISO-8859-1")

In [3]:
df=pd.read_excel('/Users/manbubble/Downloads/卒論/PriceSentiment.xlsx')
# dfは価格と感情指数がそろっているやつ

In [14]:
df.iat[1,1]

0.0

In [9]:
df_true_false=df.isnull()
# for i in range(0,len(df_true_false)):
#     if df_true_false.iat[i,1]==True:
#         sentiment.append(1)
#         pd.concat([df1, df3], axis=1)
#     elif df.iat[i,4]=='neutral':
#         sentiment.append(0)
#     else:
#         sentiment.append(-1)

In [15]:
df_true_false[df_true_false["sentiment"]==True]

      price  sentiment
274   False       True
639   False       True
905   False       True
950   False       True
1030  False       True
1031  False       True
1041  False       True
1042  False       True
1043  False       True
1064  False       True
1065  False       True
1066  False       True
1070  False       True
1083  False       True
1084  False       True
1085  False       True
1086  False       True
1087  False       True
1088  False       True
1089  False       True
1090  False       True
1091  False       True
1106  False       True
1107  False       True
1108  False       True

In [29]:
comments_df['Publish Date'] = pd.to_datetime(comments_df['Publish Date'])
comments_df.set_index('Publish Date',inplace=True)
# 一回set_indexしたから上のやつは変になる
comments_df.resample('D').mean()

                   Score  sentiment
Publish Date
2018-04-01    112.200000   0.100000
2018-04-02     89.066667   0.000000
2018-04-03    107.366667   0.033333
2018-04-04    229.733333   0.066667
2018-04-05    126.866667   0.000000
...                  ...        ...
2021-10-27    760.133333  -0.033333
2021-10-28    233.666667  -0.066667
2021-10-29    127.266667  -0.066667
2021-10-30    262.666667   0.000000
2021-10-31    195.233333  -0.066667

[1310 rows x 2 columns]

In [30]:
df_mean=comments_df.resample('D').mean()

In [40]:
day_NA=[274,639,905,950,1030,1031,1041,1042,1043,1064,1065,
1066,1070,1083,1084,1085,1086,1087,1088,1089,1090,1091,1106,1107,1108]
for i in range(0,len(day_NA)):
    number=day_NA[i]
    print(df_mean[number:number+1])

              Score  sentiment
Publish Date
2018-12-31      NaN        NaN
              Score  sentiment
Publish Date
2019-12-31      NaN        NaN
              Score  sentiment
Publish Date
2020-09-22      NaN        NaN
              Score  sentiment
Publish Date
2020-11-06      NaN        NaN
              Score  sentiment
Publish Date
2021-01-25      NaN        NaN
              Score  sentiment
Publish Date
2021-01-26      NaN        NaN
              Score  sentiment
Publish Date
2021-02-05      NaN        NaN
              Score  sentiment
Publish Date
2021-02-06      NaN        NaN
              Score  sentiment
Publish Date
2021-02-07      NaN        NaN
              Score  sentiment
Publish Date
2021-02-28      NaN        NaN
              Score  sentiment
Publish Date
2021-03-01      NaN        NaN
              Score  sentiment
Publish Date
2021-03-02      NaN        NaN
              Score  sentiment
Publish Date
2021-03-06      NaN        NaN
              Score  sentiment
Publish Date
2021-03-19      NaN        NaN
              Score  sentiment
Publish Date
2021-03-20      NaN        NaN
              Score  sentiment
Publish Date
2021-03-21      NaN        NaN
              Score  sentiment
Publish Date
2021-03-22      NaN        NaN
              Score  sentiment
Publish Date
2021-03-23      NaN        NaN
              Score  sentiment
Publish Date
2021-03-24      NaN        NaN
              Score  sentiment
Publish Date
2021-03-25      NaN        NaN
              Score  sentiment
Publish Date
2021-03-26      NaN        NaN
              Score  sentiment
Publish Date
2021-03-27      NaN        NaN
              Score  sentiment
Publish Date
2021-04-11      NaN        NaN
              Score  sentiment
Publish Date
2021-04-12      NaN        NaN
              Score  sentiment
Publish Date
2021-04-13      NaN        NaN

In [47]:
df_mean_Nan=df_mean.isnull()
Nan=df_mean_Nan[df_mean_Nan["sentiment"]==True]
Nan.to_csv("NAN_date.csv",index=True)
# NANである日がtureとなっている